footer.footer
    .container.footer__container
        .footer__top.d-flex
            .footer__logo
                .a(href="/")
                    <img src="img/Zakon-logo-main.svg"/>
            .footer__menu
                ul.footer__nav.d-flex
                    li.footer__nav-item
                        a.scroll-to(href="#menu-services") Услуги
                    li.footer__nav-item
                        a.scroll-to(href="#menu-about") О нас
                    li.footer__nav-item
                        a.scroll-to(href="#menu-reviews") Отзывы
            .footer__tel.d-flex
                span.footer__tel-top-text Телефон горячей линии
                a.footer__tel-num(href="tel:88005114791") 8 (800) 511-47-91
                span.footer__tel-bottom-text Звонок бесплатный по России
            .footer__social-wrapprer.d-flex
                ul.d-flex.footer__social
                    li.banner__social-item
                        a.banner__social-link.d-flex(href="https://www.facebook.com/centr.vozmeshenia.vreda/" target="_blank")
                            <img src="img/sm-facebook.svg">
                    li.banner__social-item
                        a.banner__social-link.d-flex(href="https://ok.ru/centrvozmesheniavreda" target="_blank")
                            <img src="img/sm-odnoklassniki.svg">
                    li.banner__social-item
                        a.banner__social-link.d-flex(href="https://www.instagram.com/centr_vozmescheniya/" target="_blank")
                            <img src="img/sm-instagram.svg">
                    li.banner__social-item
                        a.banner__social-link.d-flex(href="https://www.youtube.com/channel/UCnU6MROSWjHURptXoY5Zeog/featured" target="_blank")
                            <img src="img/sm-youtube.svg">
                    li.banner__social-item
                        a.banner__social-link.d-flex(href="https://zen.yandex.ru/edinye_reseniya" target="_blank")
                            <img src="img/sm-zen.svg">
        ul.footer__adress.d-flex
            li.footer__adress-item.d-flex
                p.footer__adress-text Москва, ул. Кожевническая,<br> 1, стр. 1, офис 11
                a.footer__adress-tel(href="tel:+74950182523") +7 (495) 018-25-23
                a.footer__adress-tel(href="tel:+79257410523") +7 (925) 741-05-23
                a.footer__adress-mail(href="mailto:moscow@zakon.group") moscow@zakon.group
            li.footer__adress-item.d-flex
                p.footer__adress-text Москва, Правовой Центр ДОВЕРИЕ <br>пр. Мира, 68, стр. 2, офис 304
                a.footer__adress-tel(href="tel:+74950031263") +7 (495) 003-12-63
                a.footer__adress-tel(href="tel:+79099331441") +7 (909) 933-14-41
                a.footer__adress-mail(href="mailto:moscow@zakon.group") moscow@zakon.group
            li.footer__adress-item.d-flex
                p.footer__adress-text Краснодар, ул.Красная, 155, <br>корп. 2, офис 210
                a.footer__adress-tel(href="tel:+79385452011") +7 (938) 545-20-11
                a.footer__adress-mail(href="mailto:krd@zakon.group") krd@zakon.group
        .footer__bottom.d-flex
            a.footer__policy(href="#") Политика конфиденциальности
            a.footer__link(href="https://zakon.group/") Основной сайт zakon.group
.popup-wrapper
    form.popup.form
        <img class="popup__close" src="img/close.svg"/>
        h3.form__header Получить бесплатную консультацию
        p.form__subheader Наши операторы свяжутся с вами в ближайшее время и проконсультируют на интересующую  тему
        .form__row.d-flex
            label.form__label(for="") Имя
            input.form__input(type="text", name="name")
        .form__row.d-flex
            label.form__label(for="") Контактный телефон
            input.form__input(type="text", name="tel")
        button.form__btn(type="submit") Отправить
        p.form__politics Нажимая кнопку «Отправить», вы соглашаетесь с <a href="#">Политикой конфиденциальности</a>
.popup-success-wrapper#popup-success-wrapper
    .success__message
        h3.success__title.h3 Спасибо за обращение!
        p.success__text.p Наши менеджеры свяжутся с вами в ближайшее время для уточнения деталей.
        button.success__btn#success__btn(type="button") Хорошо, спасибо



