header
  div.header-wrapper
    div.container.header-container
      div.header-content.d-flex
        div#burger
          .wrap
            span.lines.line1
            span.lines.line2
            span.lines.line3 
        div.logo
          a(href="/")
            <img src="/img/Zakon-logo-w.png" class="logo__desc" title="logo"/>
            <img src="/img/footer-logo.png" class="logo__mob" title="logo"/>
        a.phone-mob(href="tel:88005114791")
          <img src="/img/call.svg"/>    
        .menu-mob.d-flex   
          nav
            ul.heaer-menu.d-flex
              li.header-menu__item
                a.menu-link.scroll-to(href="#menu-services") Услуги
              li.header-menu__item
                a.menu-link.scroll-to(href="#menu-about") О нас
              li.header-menu__item
                a.menu-link.scroll-to(href="#menu-reviews") Отзывы
          div.phone.d-flex
            span.phone__top-text Телефон горячей линии
            a.phone__number(href="tel:88005114791") 8 (800) 511-47-91 
            span.phone__bottom-text Звонок бесплатный по России
          .menu-social
            ul.d-flex.footer__social
                  li.banner__social-item
                      a.banner__social-link.d-flex.menu-link(href="#")
                          <img src="/img/sm-facebook.svg">
                  li.banner__social-item
                      a.banner__social-link.d-flex.menu-link(href="#")
                          <img src="/img/sm-odnoklassniki.svg">
                  li.banner__social-item
                      a.banner__social-link.d-flex.menu-link(href="#")
                          <img src="/img/sm-instagram.svg">
                  li.banner__social-item
                      a.banner__social-link.d-flex.menu-link(href="#")
                          <img src="/img/sm-youtube.svg">
                  li.banner__social-item
                      a.banner__social-link.d-flex.menu-link(href="#")
                          <img src="/img/sm-zen.svg">
        button.show-form.menu__fixed-btn Бесплатный пересчёт выплат



