doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title Центр возмещения вреда здоровью
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.min.css")
            script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js")
            link(rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png")
            link(rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png")
            link(rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png")

    body
        block header
            include header
        block content
        block footer
            include footer
        block scripts
            script(src='js/main.min.js')
